{%extends 'jobseekerhome.html'%}
{%block body_block%}
<div>
    {%for application in applications%}

    <div class="card">



  <div class="card-body bg-info">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">{{application.appllicant}}&nbsp;&nbsp;&nbsp;<i class="fas fa-building"></i>&nbsp;&nbsp;&nbsp;{{application.job.employer.user.first_name}}&nbsp;&nbsp;{{application.job.employer.user.last_name}}&nbsp;&nbsp;&nbsp;<i class="fas fa-user-tie"></i>&nbsp;&nbsp;&nbsp;{{application.job.description}}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;{{application.job.location}}&nbsp;&nbsp;&nbsp;{{application.application_status}}</p>
    <a href="" class="btn btn-primary">View Details</a>
  </div>
</div>



    <br>
{%endfor%}
</div>


{%endblock%}