{%extends 'jobseekerhome.html'%}
{%block body_block%}
{%if candidate%}
<center><h5 style="color:red">If you are not created a profile please click <a href="{%url 'jprofile'%}">Here</a></h5></center>
<div class="card" style="width: 25rem;margin-left:280px">
    <center> <img src="/static/images/pro.png" class="card-img-top" alt="..." style="width:150px;"></center>
  <div class="card-header">
     <h2 style="color:blue;font-weight:bold"><center>{{request.user.first_name}}{{request.user.last_name}}</center></h2>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item"> <h5 style="color:red;font-weight:bold">Gender &nbsp;:&nbsp;{{request.user.gender}}</h5></li>
      <li class="list-group-item"><h5 style="color:red;font-weight:bold">Qualification &nbsp;:&nbsp;{{candidate.qualification}}</h5></li>
      <li class="list-group-item"><h5 style="color:red;font-weight:bold">PassoutYear&nbsp;:&nbsp;{{candidate.passout_year}}</h5></li>
     <li class="list-group-item"><h5 style="color:red;font-weight:bold">Phone&nbsp;:&nbsp;{{request.user.phone}}</h5></li>
      <li class="list-group-item"><h5 style="color:red;font-weight:bold">E-mail&nbsp;:&nbsp;{{request.user.email}}</h5></li>
      <li class="list-group-item"><h5 style="color:red;font-weight:bold">Skills&nbsp;:&nbsp;{{candidate.skills}}</h5></li>





    <li class="list-group-item"><h5 style="color:red;font-weight:bold">Experience&nbsp;:&nbsp;{{candidate.experience}}</h5></li>
  </ul>
</div>
{%endif%}
{%endblock%}


