
{%extends 'jobseekerhome.html'%}
{%block body_block%}
<div class="card bg-danger" style="height:50px">
  <div class="card-body">
    <h3 style="font-weight:bold;color:yellow"><center>AVAILABLE VACANCIES</center> </h3>
  </div>
</div>
<br><br>
<div class="container">
    <div class="row">

        <div class="col-12">
    {%for job in jobs%}

    <!--<div class="card" style="width: 18rem;">-->
  <!--<div class="card-body">-->
    <!--<h5 class="card-title"><i class="fas fa-user-tie"></i>&nbsp;&nbsp;&nbsp;{{job.description}}</h5>-->
    <!--<h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-building"></i>&nbsp;&nbsp;&nbsp;{{job.employer.user}}  {{job.employer.user.last_name}}</h6>-->
    <!--<p class="card-text"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;{{job.location}}</p>-->
    <!--<a href="{%url 'jobdetail' job.id%}" class="btn btn-primary">View Details</a>-->

  <!--</div>-->
<!--</div>-->








    <div class="card">



  <div class="card-body bg-warning ">
    <h5 class="card-title" style="color:red">Hiring&nbsp;&nbsp;<i class="fas fa-user-tie"></i>&nbsp;&nbsp;&nbsp;{{job.description}}</h5>
    <p class="card-text"><i class="fas fa-building"></i>&nbsp;&nbsp;&nbsp;{{job.employer.user}}  {{job.employer.user.last_name}}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-user-tie"></i>&nbsp;&nbsp;&nbsp;{{job.description}}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;{{job.location}}&nbsp;&nbsp;<i class="fas fa-wallet"></i>&nbsp;&nbsp;<i class="fas fa-rupee-sign"></i>&nbsp;&nbsp;{{job.salary}}</p>
    <a href="{%url 'jobdetail' job.id%}" class="btn btn-primary">View Details</a>  <i style="margin-left:550px">Job Posted On:{{job.date_posted}}</i>
  </div>
</div>



    <br>
{%endfor%}
</div>
</div>
     </div>



{%endblock%}