{%extends 'home.html'%}
{%block body_block%}



<br><br>
<div class="container">
    <div class="row">
        <div>
            <div class="card" style="width:1000px;">
                <h5 class="card-header" style="background-color:#229af0;color:white;font-weight:bold">Job Applications
                    </h5>
                <div class="card-body">
                    <table class="table table-bordered table table-striped table-hover">
                        <tr>
                            <td>Company Name</td>
                            <td>Applicant Name</td>
                            <td>Position</td>
                            <td>Phone</td>
                            <td>Gender</td>
                            <td>Email</td>
                            <td>Applied Date </td>
                        <td>Profile</td>
                            <td>Status</td>

                            <td colspan="4">Action</td>

                        </tr>
                        {%for application in applications%}
                        <tr>
                             <td>{{application.job.employer.user}}</td>
                            <td>{{application.appllicant.first_name}}</td>
                            <td>{{application.job.description}}</td>
                            <td>{{application.appllicant.phone}}</td>
                            <td>{{application.appllicant.gender}}</td>
                            <td>{{application.appllicant.email}}</td>
                            <td>{{application.applied_date}}</td>
<td><a href="{%url 'applicantprofile' application.id%}" class="btn btn-success">View Profile</a></td>
                            <td>{{application.application_status}}</td>





                            <td colspan="">
                                <a href="{%url 'updatestatus' application.id%}" class="btn btn-danger">Edit Status</a>
                            </td>
                            <td>


                            </td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}



