
{%extends 'basehome.html'%}
{%block body_block%}

<br><br><br>
<div class="card" style="width:450px">
    <h5 class="card-header" style="background-color:#229af0;color:white;font-weight:bold;"><center>Online Registration</center></h5>
  <div class="card-body">
    <form action="" method="post">
    {%csrf_token%}
        <table>
            {{form.as_table}}
        </table>

    <input type="submit" value="submit" class="btn btn-success" style="margin-left:130px;width:100px">

</form>
</div>
</div>



{%endblock%}













<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="" method="post">-->
    <!--{%csrf_token%}-->
    <!--{{form.as_p}}-->
    <!--<input type="submit" value="create">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->